*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ddd;
}

.container{
    width: 960px;
    height: 450px;
    margin: 60px auto;
    position: relative;
}

.container img{
    padding: 10px 10px 15px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    position: absolute;
    z-index: 1;
}

.container img:hover{
    transform:rotate(0deg) scale(1.20);
    -webkit-transform:rotate(0deg) scale(1.20);
    z-index: 2;
}

.pic{
    width: 150px;
}
.pic1{
    left: 0px;
    top: 0px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}
.pic2{
    left: 200px;
    top: 0px;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
}
.pic3{
    left: 400px;
    top: 0px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}
.pic4{
    left: 0px;
    top: 200px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}
.pic5{
    left: 200px;
    top: 200px;
    transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
}
.pic6{
    left: 400px;
    top: 200px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}
.pic7{
    left: 0px;
    top: 400px;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
.pic8{
    left: 200px;
    top: 400px;
    transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
}
.pic9{
    left: 400px;
    top: 400px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

